*{
    margin: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, yellow, #ce15a8);
}
nav{
    width: 97%;
    position: sticky;
    margin: 2px 25px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo{
   flex-basis: 5%;
}
.logo img{
    width: 150px;
}
.nav-links{
    flex: 1;
    flex-basis: 5%;
    text-align: right;
 }
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px ;
}
.nav-links ul li a{
    font-size: 30px;
    color: #dadada;
    text-decoration: none;
}
.info{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 2s;
}
.feat img{
    width: 170px;
}
.feat{
    position: absolute;
    display: flex;
    color: #0d5ea4;
}
.feat div{
    margin: 20px;
}
.feat div p{
    margin-top: 6px;
}
.one{
    top: 450px;
    right: 1px;
}
.two{
    top: 135px;
    left: 320px;
    transform: rotate(-90deg);
}
.three{
    bottom: 450px;
    left: 1px;
    transform: rotate(-180deg);
}
.four{
    bottom: 100px;
    right: 285px;
    transform: rotate(-270deg);
}
.car{
    width: 340px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.controls h2{
    margin: 15px 0;
    color: #19c919;
}
#upBtn{
    width: 60px;
    cursor: pointer;
}
#downBtn{
    width: 60px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #0d5ea4;
    border-left: 500px solid #0d5ea4;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #0d5ea4;
    position: absolute;
    left: 0;
    top: 0;
}
.email a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 90px;
    top: 90px;
    transform: translateY(-50%);
    text-align: center;
}
.phone a{
    font-weight: bold;
    font-style: oblique;
    color: #dadada;
    text-decoration: none;
    position: absolute;
    right: 244px;
    top: 90px;
    transform: translateY(-50%);
    text-align: center;
}



